body {
    margin: 0;
    padding: 0;
}

.main_block {
    background-color: #F8FAFC;
    border-radius: 25px;
    width: 28%;
    margin: 50px;
    box-sizing: border-box;
    padding: 25px 35px;
    position: relative;
}

.main_block-img {
    display: flex;
    margin: 0 auto;
    height: 150px;
}

.main_block-title {
    text-align: center;
    font-size: 24px;
    margin: 15px 0 5px 0;
}

.second_block {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.dropbtn {
    border-radius: 20%;
    box-sizing: border-box;
    padding: 6px;
    display: inline-block;
    width: 170px;
    background-color: white;
}

.dropbtn::after {
    content: url('../../assets/arrow_down.png');
    position: absolute;
    right: 6px;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 170px;
    z-index: 1;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #F3F8FC;border-bottom-right-radius: 20%;border-top-right-radius: 20%;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn::after {content: url('../../assets/arrow_up.png');}

.third_block-radio {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.counter {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80px;
    height: 30px;
    border-radius: 20%;
    background-color: #E2E9F0;
}

.counter button {
    border: none;
    outline: none;
    background-color: #E2E9F0;
}

.main_block-content {
    font-size: 16px;
}

.second_block-price {
    font-size: 18px;
    font-weight: 600;
}

.fourth_block {
    display: flex;
}

.counter {
    margin-right: 30px;
}

.new {
    position: absolute;
    top: 23px;
    left: 20px;
}

.compare {
    position: absolute;
    top: 23px;
    right: 20px;
}